@import "tailwindcss";

@theme {
  --color-bg-primary: #CCCCCC;
  --color-component: #7B7b7b;
  --color-text-primary: #000000;
  
  --font-display-sc: 'Playfair Display SC', serif;
  --font-display: 'Playfair Display', serif;
}

body {
  font-family: var(--font-display-sc);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.playfair-display {
  font-family: var(--font-display);
}

input, textarea {
  font-family: var(--font-display);
}